<% provide(:title, 'Sign In') %>

<section class="center center-div-con" id="signup" style="height:700px">
  <div class="center-div">
  	<%= form_tag sessions_path do %>
  		<%= email_field_tag :email, params[:email], :placeholder => "Email address" %>
  		<%= password_field_tag :password, nil, placeholder: "Password" %>

  		<%= submit_tag "Log in", class: "fr btn btn-big btn-primary" %>
  	<% end %>
	</div>
</div>