<div class="bio">
  <%= image_tag('jason-mccarthy.jpg') %>
  
  <!-- 
  <a href="mailto: contact@jasonmccarthy.ie" title="Send me an email" target="_blank" aria-hidden="true" data-icon="&#xe001;"></a>
  <a href="http://jasonmccarthy.tumblr.com/" title="Visit my blog" target="_blank" aria-hidden="true" data-icon="&#xe002;"></a>
  <a href="https://www.facebook.com/pages/Jason-Mc-Carthy-Photography/224890427553660" title="Facebook" target="_blank" aria-hidden="true" data-icon="&#xe003;"></a>
  <a href="https://twitter.com/jason_mc_carthy" title="Twitter" target="_blank" aria-hidden="true" data-icon="&#xe004;"></a>
  -->
  
  <a href="mailto: contact@jasonmccarthy.ie" title="Send me an email" target="_blank">contact@jasonmccarthy.ie</a>
  <a href="http://jasonmccarthy.tumblr.com/" title="Visit my blog" target="_blank">Blog</a>
</div>