<div class="bio">
  <%= image_tag('jason-mccarthy.jpg') %>

  <p>Based in Drogheda. I endeavour to build a creative and inspiring 2D world. My work has featured in The Irish Times, The Sunday Business Post, Irish Hairdresser International and Thread magazine. Two of my images won best colour, best commercial in the Irish Photographic Hair Award's 2012.</p>
</div>