<% provide(:title, 'Info') %>

<div class="container">
	<p>My name is Jason Mc Carthy. I’m a photographer based in the Dublin & Drogheda area. My inspiration for photography began while attending Drogheda Youthreach when my art teacher gave me a profound book of black & white images. Soon after this, I began visiting dilapidated sites in the Drogheda area and my passion for image crafting emerged. I like to incorporate my spiritual beliefs within my artistic theme based work & I feel compelled to voice my inner convictions. Having explored many styles to my craft I’m narrowing the direction of my work into mainly black & white.</p>

	<p>Some of my work has featured in The Irish Times, Irish Independent and Thread fashion magazine. I remain eager to develop my craft to new heights and dimensions whilst been continually grateful to God and friends for energising my endeavours.<p>

	<span>086 251 1714 // contact@jasonmccarthy.ie</span>
</div>