<% provide(:title, 'Info') %>

<div class="container">
<div class="content">
	<p>Jason Mc Carthy is a photographer based in the Dublin & Drogheda area. His inspiration for photography began while attending Drogheda Youthreach, when his art teacher gave him a profound book of black & white images. Soon after this, Jason began visiting dilapidated sites in the Drogheda area and his passion for image crafting emerged.</p>

	<p>Jason likes to incorporate his spiritual beliefs within his artistic theme based work & feels compelled to voice his inner convictions. Having explored many styles to his craft he seems to be narrowing the direction of his work into minimalistic, mainly black & white. Jason remains eager to develop his craft to new heights and dimensions whilst been continually grateful to God and friends for making it possible.</p>

	<span>086 251 1714 // contact@jasonmccarthy.ie</span>
</div>
</div>