<% provide(:title, 'Info') %>

<div class="content">
  <%= image_tag('jasonmcarthy.jpg') %>
  
  <p>Endeavouring to build a creative & inspiring 2D world</p>
  
  <p>Endeavouring to build a creative & inspiring 2D world Endeavouring to build a creative & inspiring 2D world Endeavouring to build a creative & inspiring 2D world Endeavouring to build a creative & inspiring 2D world Endeavouring to build a creative & inspiring 2D world</p>
</div>