.btn {
	font-weight:normal;
	width:auto;
}

.btn-small {
	font-size:11px;
	padding:5px 10px;
}

.btn-large {
	font-size:12px;
	padding:10px 20px;
}

.btn-primary, .btn-primary:visited {
	background-color:$base;
	border:0;
	color:#fff;
}
