input, textarea {
	border:1px solid $gray;
	padding:12px;
	width:100%;
	margin-bottom:15px;
	font-size:15px;
	color:$base;
	@include box-sizing;
	
	&:focus {
	  outline:0;
		border-color:$base;
	}
	
}

select {
	width:100%;
}


::-webkit-input-placeholder {
   color: darken($lighter, 10%);
}

:-moz-placeholder {  
   color: darken($lighter, 10%);
}


// validations
#error_explanation {
	color:red;
	margin-bottom:10px;
}