.field {
	margin-bottom:10px;
}
input, textarea {
	border:1px solid $gray;
	padding:10px;
	width:100%;
	@include box-sizing;
	&:focus {
		border-color:$base;
	}
}
select {
	width:100%;
}



// validations

.alert {
	position:absolute;
	top:0;
	width:500px;
	padding:5px 0;
	margin-left:-250px;
	font-size:1em;
	color:#555;
	text-align:center;
	left:50%;
	line-height:1;
	z-index:9999;
}
.alert-success {
	background:#B8FF99;
}

#error_explanation {
	color:red;
	margin-bottom:10px;
}