header {
	padding:0 0 $space 0;
	overflow:hidden;
	.logo {
		width:122px;
		height:19px;
		background:url(jasonmcarthy-logo.jpg) no-repeat;
		float:left;
		padding-right:25px;
		border-right:1px solid $base;
		text-indent:-9999px;
	}
	nav {
		float:left;
		padding-top:1px;
	}
	li {
		float:left;
		margin-left:20px;
		line-height:1;
		a, a:visited {
			font-size:16px;
			text-transform:uppercase;
			color:$gray;
			@include transition;
			&:hover {
				color:$base;
			}
		}
	}
}


.filters {
	float:right;
	padding-top:1px;
	li {
		margin:0 0 0 25px;
	}
	.current {
		a, a:visited {
			color:$base;
		}
	}
}