header {
	overflow:hidden;
	@include gap-bottom;
	
	nav {
		float:right;
		
		@include breakpoint(tablets) {
		  float:left;
		}
	}
		
	a, a:visited, span {
	  display:block;
	  float:left;
  	margin-left:25px;
  	line-height:1;
		font-size:14px;
		text-transform:uppercase;
		color:$gray;
		@include transition;
		letter-spacing:1px;
		padding:20px 0 22px 0;
		cursor:pointer;
		
		@include breakpoint(mini) {
		  padding:20px 0 7px 0;
		}
		
		@include breakpoint(tablets) {
		  padding: 0;
		}
		
		&:hover {
			color:$base;
		}
	}
	
	.logo {
		float:left;
		font-weight:700;
		color:$base !important;
		margin-left:0;
		text-transform:none;
	}

}


.filters {
  display:none;
	float:right;
	padding-top:1px;
	
	@include breakpoint(tablets) {
	  display:block;
	}
	
	li {
	  float:left;
		margin:0 0 0 25px;
		
		a, a:visited {
		  margin:0;
		}
	}
	
	.current {
		a, a:visited {
			color:$base;
		}
	}
	
}




.info-slide {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 13px 0;
  text-align: center;
  background: #E8ECF0;
  color: darken(#E8ECF0, 40%);
  font-weight: 600;
  font-size: 14px;
  margin-top: -40px;
}

html {
  -webkit-transition: all .4s ease;
     -moz-transition: all .4s ease;
      -ms-transition: all .4s ease;
       -o-transition: all .4s ease;
          transition: all .4s ease;
}

.slidey {
  -webkit-transform : translateY(40px); 
	     -o-transform : translateY(40px); 
	   -moz-transform : translateY(40px); 
	        transform : translateY(40px);
}