* { margin:0; padding:0; }

img { width:100%; }

body { @include gap; overflow:hidden; }
.center { text-align:center; }

.content {
  width:100%;
  max-width:800px;
  
  li {
   @include gap-top;
  }
  
  li:first-child {
    margin-top:0;
  }
}

.grid {
  @include gap-negative;
  
  li {
    position:relative;
    margin-bottom:5%;
    @include gap-bottom;
    @include gap-left;
    
    @include breakpoint(mini) {
      float:left;
      width:45%;
    }
    
    @include breakpoint(tablets_land) {
      width:30.3333%;
    }
    
    @include breakpoint(laptops) {
      width:22%;
    }
    
    @include breakpoint(desktops) {
      width:17%;
    }
  }
  
	img {
		@include transition;
		
		&:hover {
			@include transparent;
			cursor:pointer;
		}
	}
	
}

.bio, .pane {
  position:relative;
  overflow:hidden;
  @include transition;
}

.pane {
  
  &.show {
    
  @include breakpoint(tablets) {
     left:45%;
   }
   
   @include breakpoint(tablets_land) {
     left:43%;
   }
   
   @include breakpoint(laptops) {
      left:28%;
    }
  }
    
}

.bio {
  min-height:100%;
  padding-bottom:5%;
  @include box-sizing;
  overflow:hidden;
  margin-top:-86px;
  
  img {
    display:none;
  }
  
  &.show {
   margin-top:0;
  }
  
  img {
    margin-bottom:20px;
  }
  
  p {
    display:none;
    color:$gray;
    -webkit-font-smoothing:subpixel-antialiased;
  }
  
  a, a:visited {
    display:inline-block;
    color:$gray;
    font-size:24px;
    margin:20px 25px 20px 0;
    @include transition;
    
    &:hover {
      color:$base;
    }
  }
  
  @include breakpoint(tablets) {
    background:$base;
    margin:0;
    padding:25px;
    position:absolute;
    width:40%;
    left:-45%;
    top:0;
    
    img { display:block; }
    
    p { display:block; }
    
    a, a:visited {
      margin:20px 15px 0 0;
      
      &:hover {
        color:#fff;
      }
    }
    
    &.show {
     left:0;
    }
  }
  
  @include breakpoint(laptops) {
    width:26%;
  }
}





.center-div-con:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
  font-size: 0;
}

.center-div {
  display: inline-block;
  vertical-align: middle;
  width: 90%;
  max-width:400px;
  font-size: 100%;
}