// variables

$black: #000;
$gray: #aaa;
$light: #eaeaea;

@mixin box-sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin transparent {
	zoom: 1;
	filter: alpha(opacity=75);
	opacity: 0.75;
}
@mixin transition {
	transition: all 0.2s;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
}




// universal

* { margin:0; padding:0; }
html,body,input,textarea,button { 
  font-family:"Helvetica Neue", helvetica,arial,sans-serif; color:$black;
}

.container { width:96%; margin:0 auto; padding:6% 0 0 0; }
.inner { width:96%; margin:0 auto; }
.content { max-width:550px; width:96%; float:left; margin:0 2%; }
aside { max-width:300px; width:26%; float:left; }

a, a:visited { color: $black; }

img { width:100%; }
.content img { margin-bottom:10px; }

.fl { float:left; }
.fr { float:right; }

:focus { outline:0; }

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background:#eaeaea;
}

::-webkit-scrollbar-thumb {
	background:#ccc;
	&:hover {
		background:#bbb;
	}
}




// typography

span { display:block; line-height:1.7em; }
h1,h2,h3,h4,h5,h6 { line-height:1; }
h1 { font-size:0.9em; text-transform:uppercase; margin-bottom:8px; }
h2,h3 {}
h4 {}

p { font-size:0.9em; color:$black; line-height:1.6em; margin-bottom:10px; }
aside p { color:$black; }

time { color:$gray; line-height:1.7em; text-transform:uppercase; }




// header

header {
	position:fixed;
	background-color:#fff;
	width:100%;
	padding:1.5% 2%;
	border-bottom:1px solid $light;
	overflow:hidden;
	z-index:10;
	@include box-sizing;
	.logo {
		width:120px;
		height:18px;
		background-image:url(jasonmcarthy-logo.jpg);
		background-repeat:no-repeat;
		float:left;
		padding-right:20px;
		border-right:1px solid $black;
		text-indent:-9999em;
	}
	nav {
		float:left;
	}
	li {
		float:left;
		margin-left:15px;
		line-height:1;
		a, a:visited {
			font-family:"Proxima-Nova","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight:300;
			font-size:1em;
			text-transform:uppercase;
			color:$gray;
			@include transition;
			&:hover {
				color:$black;
			}
		}
	}
}




// landing

.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}

#tagline {
	position:fixed;
	bottom:2%;
	left:2%;
	font-family:"Proxima-Nova", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight:300;
	font-size:3em;
	color:#fff;
	@include transparent;
	line-height:1;
}




// thumbs

.thumbs {
	margin-left:-2%;
	overflow:auto;
	li {
		width:100%;
		float:left;
		margin:0 0 2% 2%;
		overflow:hidden;
	}
	img {
		@include transition;
		&:hover {
			@include transparent;
			cursor:pointer;
		}
	}
}

.filters {
	float:right;
	padding-top:1px;
	li {
		position:relative;
		margin:0 0 0 15px;
	}
	.current {
		a {
			position:relative;
			background-repeat:no-repeat;
			background-position:center 14px;
			color:#444;
			z-index:100;
		}
	}
}
.arrow {
	position:absolute;
	width: 0;
	height: 0;
	left:65px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 15px solid #eee;
}



.slider {
  position:relative; 
  overflow: hidden;
  margin-bottom:20px;
  ul { width:100%; margin: 0; padding: 0; }
	li {
		float:left;
		margin-left:20px;
		width:auto;
		height:100%;
		&:first-child {
			margin-left:0;
		}
	}
	img {
		height:530px;
		width:auto;
	}
}

.info {
	display:none;
	position:absolute;
	bottom:0;
	clear:both;
	padding:2% 2%;
	width:96%;
	background-color:#fff;
	left:0;
	p {
		width:400px;
		margin-bottom:0;
	}
}

.controls {
	float:right;
	 a, a:visited {
		display:block;
		background-image:url(arrows.png);
		background-position:center;
		background:#444;
		float:left;
		margin-right:3px;
		width:40px;
		height:40px;
		text-indent:-9999em;
	}
}


#new_photo {
	float:left;
}



// forms

.field {
	margin-bottom:10px;
}
input, textarea {
	border:1px solid $gray;
	padding:10px;
	width:100%;
	@include box-sizing;
	&:focus {
		border-color:$black;
	}
}
select {
	width:100%;
}



// validations

.alert {
	position:absolute;
	top:0;
	width:500px;
	padding:5px 0;
	margin-left:-250px;
	font-size:1em;
	color:#555;
	text-align:center;
	left:50%;
	line-height:1;
	z-index:9999;
}
.alert-success {
	background:#B8FF99;
}

#error_explanation {
	color:red;
	margin-bottom:10px;
}



// buttons

.btn {
	font-weight:normal;
	width:auto;
}

.btn-small {
	font-size:11px;
	padding:5px 10px;
}

.btn-large {
	font-size:12px;
	padding:10px 20px;
}

.btn-primary, .btn-primary:visited {
	background-color:$black;
	border:0;
	color:#fff;
}













/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 321px) {
	.container {
		padding:13% 0 0 0 !important;
	}
	header {
		padding:3%;
	}
	.thumbs {
		margin-left:0;
		li {
			margin:0 0 2% 0;
			float:none;
		}
	}
	.slider {
		ul { width:320px !important; }
	}
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px)
and (max-width : 480px) {
	.container {
		width:94%;
		padding:11% 0 0 0;
	}
	header {
		padding:2.5% 3%;
	}
	.thumbs {
		li {
			width:48%;
		}
	}
	.slider {
		ul { width:480px !important; }
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 600px) {
	.filters, .controls { display:none; }
	.container {
		width:94%;
		padding:11% 0 0 0;
	}
	header {
		padding:2.5% 3%;
	}
	.slider {
		li {
			clear:both;
			float:none;
			margin:0 0 10px 0;
		}
		img {
			height:auto;
			width:100%;
		}
	}
}


/* ipads (portrait) ----------- */
@media only screen
and (min-width : 600px) {
	.container {
		width:95%;
		padding:9.5% 0 0 0;
	}
	header {
		padding:2.5% 2.5%;
	}
	.content {
		margin:0 1%;
	}
	.info {
		padding:1% 3%;
	}
	.thumbs li {
		width:31.25%;
	}
	.slider {
		img {
			height:790px;
		}
	}
}

/* ipads (landscape) ----------- */
@media only screen
and (min-width : 1024px) {
	.container {
		width:96%;
		padding:6% 0 0 0;
	}
	header {
		padding:1.5% 2%;
	}
	.content {
		margin:0 1%;
	}
	.info {
		padding:1% 3%;
	}
	.thumbs li {
		width:23%;
	}
	.slider {
		img {
			height:530px;
		}
	}
}

/* laptops ----------- */
@media only screen
and (min-width : 1400px) {
	.container {
		width:98%;
		padding:4% 0 0 0;
	}
	header {
		padding:1%;
	}
	.content {
		margin:0 0.5%;
	}
	.info {
		padding:1% 1.5%;
	}
	.thumbs {
		margin-left:-1%;
		li {
			width:19%;
			margin:0 0 1% 1%;
		}
	}
	#tagline {
		left:1%;
	}
}

/* large screens ----------- */
@media only screen
and (min-width : 2100px) {
	.container {
		padding:3.25% 0 0 0;
	}
	header {
		padding:0.75% 1%;
	}
	.info {
		padding:0.5% 1.5%;
	}
	.thumbs li {
		width:15.65%;
	}
	.content {
		max-width:550px;
		width:70%; float:left;
		margin:0 4% 0 0.5%;
	}
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

}
