a, a:visited { color: $base; }

span { display:block; line-height:1.7em; }
h1,h2,h3,h4,h5,h6 { line-height:1; }
h1 { font-size:0.9em; text-transform:uppercase; margin-bottom:8px; }
h2,h3 {}
h4 {}

p { font-size:0.9em; color:$base; line-height:1.6em; margin-bottom:10px; }
aside p { color:$base; }

time { color:$gray; line-height:1.7em; text-transform:uppercase; }