<div class="info-slide">
  contact@jasonmccarthy.ie &middot; 086 2511714
</div>

<header>
		<%= link_to "JASON McCARTHY", root_path, class: "logo" %>
		
		<nav>
      <%= link_to "Work", portfolio_path %>
      <span class="open-slide">Info</span>
				
			<% if current_user %>
        <%= link_to "Log out", logout_path, method: :delete %>
			<% end %>
		</nav>
		
    <%= content_for(:filters) %>
</header>
