<header>
	<%= link_to "JASON Mc CARTHY", root_path, :class => "logo" %>
	<nav>
		<ul>
			<li><a href="#">PORTFOLIO</a><%#= link_to "Portfolio", portfolio_path %></li>
			<li><%= link_to "Info", info_path %></li>
		</ul>
	</nav>
</header>