<header>
		<%= link_to "JASON Mc CARTHY", root_path, class: "logo" %>
		
		<nav>
      <%= link_to "Work", portfolio_path %>
      <span class="bio-trigger">Info</span>
				
			<% if current_user %>
        <%= link_to "Log out", logout_path, method: :delete %>
			<% end %>
		</nav>
		
    <%= content_for(:filters) %>
</header>
